<h2>List of Statuses</h2>
<table class="table table-bordered">
  <tr>
    <th>Status</th>
  </tr>
  <% @statuses.each do |status| %>
    <tr>
      <td><%= link_to status.name, status %></td>
    </tr>
  <% end %>
</table>

