<h2>Fellows</h2>
<table class="table table-bordered">
  <tr>
    <th>Name</th>
  </tr>
  <% @fellows.each do |fellow| %>
    <tr>
      <td><%= link_to fellow.name, fellow %></td>
    </tr>
<% end %>
</table>
